/* 
    Document   : default
    Created on : 02-12-2012, 15:23:16
    Author     : Sojoe
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;   
}

body{
    background-color:darkgrey;
    font-size : 100%; 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

#title{
    font-size: 6.0em;
    font-family: sans-serif;
    text-align: center;
}

.main_menu{
     font-size: 4.0em;
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}

.main_menu li{
    list-style: none;
}

#desc{
    font-size: 1.7em;
    margin-bottom: 30px;
    margin-top : 30px;
    text-align: center;
}

#images {  
    margin-left:auto; 
    margin-right:auto;
    width : 640px;
    height : 500px;
    /*border: 3px solid; 
    border-color: cadetblue; */  
    overflow: auto;
    text-align: center;    
}

table {
    margin-left:auto; 
    margin-right:auto;
    width : 50%;
  }

#ingtable{
    
}

#setDesc{
    display:block;
    width:300px;
    height:400px;
}

#alternatives{
    text-align: right;
    float:left;
    width:110px;
    height:90px;
    /*margin:5px;    
    margin-top: 2.5em;*/
    /*border: 3px solid;*/    
}

.tableHead,tr,th{
    /*border: 3px solid;
    */
    border-bottom-style: solid;
}

#video{
    text-align: center;
}

#ingtable,td,th{ 
    font-family: Arial,Helvetica,sans-serif;   
    color: #333333;
    font-weight: bold;
    /*border-bottom-style: solid; */
    text-align: left;
    
    /*width: 50%;*/
}







